<div class="row-fluid">
  <div class="span11">
    <h3>Client endorsements</h3>

    <div class="endorsement">
      <blockquote>
      "I asked JUXT to use their Clojure wizardry to make sense of some
      very big and very awkwardly structured data, which we needed
      urgently. They were a lifesaver: they produced exactly what was
      needed, in a tight timescale, while maintaining very high levels
      of data security. I'll certainly go to JUXT again."
      </blockquote>
      <p>– Fran Bennett, CEO Mastodon&#160;C</p>
    </div>
    <div class="endorsement">
      <blockquote>
        "We were faced with extremely tight deadlines that other
        development teams didn't believe would be possible to meet.
        JUXT hit the ground running adding value from day 1.  They
        helped us develop a complex game engine and Datomic-based data
        stores for two production systems, both went live smoothly and
        successfully.  JUXT are extremely experienced and talented
        developers, the quality of their code is first class.  Choosing
        Clojure and JUXT both turned out to be excellent decisions."
      </blockquote>
      <p>– James Adams, CEO JoyPlay</p>
    </div>

    <div class="endorsement">
      <blockquote>
        "JUXT's training provides a throughout coverage of the Clojure
        fundamental topics, as well as a handful of guided exercises -
        including an introduction to Emacs for Clojure.

        Having some previous exposure to the language, the training
        affirmed my understanding of the core concepts and helped me grasp the
        concurrency features for which the language is famous for."
      </blockquote>
      <p>– Daniel Zurawski, Graduate Developer at MailOnline</p>
    </div>

    <div class="endorsement">
      <blockquote>
        "Håkan (Råberg) worked with us to produce a Clojure-based
        dashboard app, under tight time constraints and with a complex
        brief from the users. He turned the work around extremely fast,
        and to an impressively high quality: despite the resource
        constraints, he did a very thorough job and picked up on every
        detail, and the client was extremely happy with the end result."
      </blockquote>
      <p>– Fran Bennett, CEO Mastodon&#160;C</p>
    </div>

    <h3>Tweets</h3>

    <div>
<blockquote class="twitter-tweet"><p>Great day of Clojure training today. Thanks to <a href="https://twitter.com/mowat27">@mowat27</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> <a href="https://twitter.com/joe_jag">@joe_jag</a> and <a href="https://twitter.com/neo_gb">@neo_gb</a></p>— Brian Swan (@bgswan) <a href="https://twitter.com/bgswan/statuses/376421124026150912">September 7, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Relaxing after a fantastic
      day at Clojure Launchpad
      yesterday. Thanks <a href="https://twitter.com/neo_gb">@neo_gb</a>
      for great venue
      and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      for being generally awesome</p>— Adrian Mowat
      (@mowat27) <a href="https://twitter.com/mowat27/statuses/376593821238571008">September
      8, 2013</a></blockquote>
    </div>


    <div>
      <blockquote class="twitter-tweet"><p>Thanks
      to <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>,
      this is now much clearer than last time I tried
      core.logic <a href="https://t.co/HaEtcEMkFK">https://t.co/HaEtcEMkFK</a></p>—
      Adrian Mowat
      (@mowat27) <a href="https://twitter.com/mowat27/statuses/377203129609359360">September
      9, 2013</a></blockquote>
    </div>


    <div>
    <blockquote class="twitter-tweet"><p>Great talks last night
    at <a href="https://twitter.com/search?q=%23clojurefest&amp;src=hash">#clojurefest</a>
    by <a href="https://twitter.com/jr0cket">@jr0cket</a>, <a href="https://twitter.com/JenniferSmithCo">@JenniferSmithCo</a>
    and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>. I&#39;m
    in awe of your skills!</p>— Chris Howe-Jones
    (@opencast_cto) <a href="https://twitter.com/opencast_cto/statuses/380942239478083584">September
    20, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p><a href="https://twitter.com/opencast_cto">@opencast_cto</a> <a href="https://twitter.com/jr0cket">@jr0cket</a> <a href="https://twitter.com/JenniferSmithCo">@JenniferSmithCo</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      Glad you enjoyed it Chris! We had some awesome feedback all
      around <a href="https://twitter.com/ljcjug">@ljcjug</a>
      :-)</p>— Barry Cranford
      (@bcrecworks) <a href="https://twitter.com/bcrecworks/statuses/382174234039951360">September
      23, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Excellent <a href="https://twitter.com/search?q=%23ClojureFest&amp;src=hash">#ClojureFest</a>
      yesterday, followed by interesting chats
      with <a href="https://twitter.com/otfrom">@otfrom</a> <a href="https://twitter.com/JenniferSmithCo">@JenniferSmithCo</a> <a href="https://twitter.com/opencast_cto">@opencast_cto</a> <a href="https://twitter.com/jr0cket">@jr0cket</a>
      and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>.</p>—
      John Arundel
      (@bitfield) <a href="https://twitter.com/bitfield/statuses/381016760981258240">September
      20, 2013</a></blockquote>
    </div>


    <div>
      <blockquote class="twitter-tweet"><p>Tonight, really enjoyed live
      coding
      in <a href="https://twitter.com/search?q=%23Clojure&amp;src=hash">#Clojure</a>
      by <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      solving hard Sudoku problem with core.logic. Birlliant
      job <a href="https://twitter.com/ldnclj">@ldnclj</a></p>—
      Bruno Bonacci
      (@BrunoBonacci) <a href="https://twitter.com/BrunoBonacci/statuses/380808091815915521">September
      19, 2013</a></blockquote>
      </div>

<blockquote class="twitter-tweet"><p>Great talks by <a href="https://twitter.com/JenniferSmithCo">@jennifersmithco</a> <a href="https://twitter.com/jr0cket">@jr0cket</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> at today&#39;s <a href="https://twitter.com/search?q=%23clojurefest&amp;src=hash">#clojurefest</a> Looking forward to more! /cc <a href="https://twitter.com/ljcjug">@ljcjug</a> <a href="https://twitter.com/RecWorks">@RecWorks</a></p>— Anna Pawlicka (@AnnaPawlicka) <a href="https://twitter.com/AnnaPawlicka/statuses/380798168612368384">September 19, 2013</a></blockquote>

    <div>
      <blockquote class="twitter-tweet"><p>Saw <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      livecode
      a <a href="https://twitter.com/search?q=%23clojure&amp;src=hash">#clojure</a>
      webapp last week. Didn&#39;t restart the webserver once. Time was,
      that would have blown
      a <a href="https://twitter.com/search?q=%23java&amp;src=hash">#java</a>
      mind.</p>— Kris Jenkins
      (@krisajenkins) <a href="https://twitter.com/krisajenkins/statuses/382477196159647744">September
      24, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Thanks
      ITV, <a href="https://twitter.com/UnderscoreUK">@UnderscoreUK</a>
      and <a href="https://twitter.com/kings13y">@kings13y</a> for last
      night&#39;s <a href="https://twitter.com/search?q=%23FunctionalMedia&amp;src=hash">#FunctionalMedia</a>
      ... good debate &amp; points
      esp. from <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      &amp; <a href="https://twitter.com/davegurnell">@davegurnell</a></p>—
      Andrew Whitehouse
      (@awhitehouse) <a href="https://twitter.com/awhitehouse/statuses/382830645317103616">September
      25, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Just looking at some really
      impressive (and ridiculously fast) work done
      by <a href="https://twitter.com/HakanRaberg">@HakanRaberg</a>. Wow. It&#39;s
      so nice to work with smart people.</p>— Francine Bennett
      (@fhr) <a href="https://twitter.com/fhr/statuses/381083987122221056">September
      20, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Very throughout explanation
      of <a href="https://twitter.com/search?q=%23clojure&amp;src=hash">#clojure</a>
      fundamentals
      by <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      and interactive quiz-style question/answers. part 1/4, really
      nice!</p>— Daniel Zurawski
      (@danzurawski) <a href="https://twitter.com/danzurawski/statuses/349506404555554816">June
      25, 2013</a></blockquote>
    </div>


    <script async="true" src="//platform.twitter.com/widgets.js"
    charset="utf-8"></script>

  </div>
</div>
