<div class="row-fluid">
  <div class="span11">
    <h3>Client endorsements</h3>

    <div class="endorsement">
      <blockquote>
      "I asked JUXT to use their Clojure wizardry to make sense of some
      very big and very awkwardly structured data, which we needed
      urgently. They were a lifesaver: they produced exactly what was
      needed, in a tight timescale, while maintaining very high levels
      of data security. I'll certainly go to JUXT again."
      </blockquote>
      <p>– Fran Bennett, CEO Mastodon&#160;C</p>
    </div>
    <div class="endorsement">
      <blockquote>
        "JUXT helped us develop a complex game engine and Datomic-based
        data stores for two production systems, both went live smoothly
        and successfully. We're very happy with the reliability and
        overall quality of the systems, choosing Clojure and JUXT both turned out to be
        excellent decisions."
      </blockquote>
      <p>– James Adams, CEO JoyPlay</p>
    </div>

    <div class="endorsement">
      <blockquote>
        "JUXT's training provides a throughout coverage of the Clojure
        fundamental topics, as well as a handful of guided exercises -
        including an introduction to Emacs for Clojure.

        Having some previous exposure to the language, the training
        affirmed my understanding of the core concepts and helped me grasp the
        concurrency features for which the language is famous for."
      </blockquote>
      <p>– Daniel Zurawski, Graduate Developer at MailOnline</p>
    </div>

    <h3>Tweets</h3>

    <div>
<blockquote class="twitter-tweet"><p>Great day of Clojure training today. Thanks to <a href="https://twitter.com/mowat27">@mowat27</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> <a href="https://twitter.com/joe_jag">@joe_jag</a> and <a href="https://twitter.com/neo_gb">@neo_gb</a></p>— Brian Swan (@bgswan) <a href="https://twitter.com/bgswan/statuses/376421124026150912">September 7, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Relaxing after a fantastic
      day at Clojure Launchpad
      yesterday. Thanks <a href="https://twitter.com/neo_gb">@neo_gb</a>
      for great venue
      and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      for being generally awesome</p>— Adrian Mowat
      (@mowat27) <a href="https://twitter.com/mowat27/statuses/376593821238571008">September
      8, 2013</a></blockquote>
    </div>


    <div>
      <blockquote class="twitter-tweet"><p>Thanks
      to <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>,
      this is now much clearer than last time I tried
      core.logic <a href="https://t.co/HaEtcEMkFK">https://t.co/HaEtcEMkFK</a></p>—
      Adrian Mowat
      (@mowat27) <a href="https://twitter.com/mowat27/statuses/377203129609359360">September
      9, 2013</a></blockquote>
    </div>


    <script async="true" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>
</div>
