<div class="row-fluid">
  <div class="span11">
    <h3>Client endorsements</h3>

    <div class="endorsement">
      <blockquote>
      "I asked JUXT to use their Clojure wizardry to make sense of some
      very big and very awkwardly structured data, which we needed
      urgently. They were a lifesaver: they produced exactly what was
      needed, in a tight timescale, while maintaining very high levels
      of data security. I'll certainly go to JUXT again."
      </blockquote>
      <p>– Fran Bennett, CEO Mastodon&#160;C</p>
    </div>
    <div class="endorsement">
      <blockquote>
        "We were faced with extremely tight deadlines that other
        development teams didn't believe would be possible to meet.
        JUXT hit the ground running adding value from day 1.  They
        helped us develop a complex game engine and Datomic-based data
        stores for two production systems, both went live smoothly and
        successfully.  JUXT are extremely experienced and talented
        developers, the quality of their code is first class.  Choosing
        Clojure and JUXT both turned out to be excellent decisions."
      </blockquote>
      <p>– James Adams, CEO JoyPlay</p>
    </div>

    <div class="endorsement">
      <blockquote>
        "JUXT's training provides a throughout coverage of the Clojure
        fundamental topics, as well as a handful of guided exercises -
        including an introduction to Emacs for Clojure.

        Having some previous exposure to the language, the training
        affirmed my understanding of the core concepts and helped me grasp the
        concurrency features for which the language is famous for."
      </blockquote>
      <p>– Daniel Zurawski, Graduate Developer at MailOnline</p>
    </div>

    <div class="endorsement">
      <blockquote>
        "Håkan (Råberg) worked with us to produce a Clojure-based
        dashboard app, under tight time constraints and with a complex
        brief from the users. He turned the work around extremely fast,
        and to an impressively high quality: despite the resource
        constraints, he did a very thorough job and picked up on every
        detail, and the client was extremely happy with the end result."
      </blockquote>
      <p>– Fran Bennett, CEO Mastodon&#160;C</p>
    </div>

    <h3>Tweets</h3>


<!-- Work these in a deduplicate!!

<blockquote class="twitter-tweet" lang="en"><p>Good mix of JVM, CLR and Javascript developers in attendance for <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>&#39; engaging talk on &quot;FP Patterns&quot; in Clojure. <a href="https://twitter.com/otfrom">@otfrom</a></p>&mdash; Aidy Lewis (@AidyLewis) <a href="https://twitter.com/AidyLewis/statuses/411512488564236288">December 13, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Had an enjoyable 2 days of Clojure with <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> <a href="https://twitter.com/otfrom">@otfrom</a> and <a href="https://twitter.com/skillsmatter">@skillsmatter</a> <a href="http://t.co/ppnd1TiRQ6">http://t.co/ppnd1TiRQ6</a> Code: <a href="https://t.co/MjcPDLeYBa">https://t.co/MjcPDLeYBa</a></p>&mdash; Andrew Whitehouse (@awhitehouse) <a href="https://twitter.com/awhitehouse/statuses/410784646582902785">December 11, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Great talk on opensensors.io by <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> and @yodistanton at <a href="https://twitter.com/search?q=%23clojurex&amp;src=hash">#clojurex</a> Highest content:hype for an <a href="https://twitter.com/search?q=%23iot&amp;src=hash">#iot</a> talk ever!</p>&mdash; jimdowning (@jimdowning) <a href="https://twitter.com/jimdowning/statuses/408983725335400448">December 6, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>great talk by <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> <a href="https://twitter.com/yoditstanton">@yoditstanton</a> on reactive programming in clojure <a href="https://twitter.com/search?q=%23clojurex&amp;src=hash">#clojurex</a></p>&mdash; Christian Blunden (@christianralph) <a href="https://twitter.com/christianralph/statuses/408978630023593984">December 6, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Love the idea of empowering open data with sensors <a href="http://t.co/1OYk3bOI3L">http://t.co/1OYk3bOI3L</a> by <a href="https://twitter.com/yoditstanton">@yoditstanton</a> and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>  <a href="https://twitter.com/search?q=%23clojurex&amp;src=hash">#clojurex</a></p>&mdash; Carin Meier (@carinmeier) <a href="https://twitter.com/carinmeier/statuses/408972758992039937">December 6, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Engaging preso by <a href="https://twitter.com/yoditstanton">@yoditstanton</a> and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> <a href="https://twitter.com/search?q=%23clojurex&amp;src=hash">#clojurex</a></p>&mdash; David Pollak (@dpp) <a href="https://twitter.com/dpp/statuses/408972297983492097">December 6, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/thingmonk">@thingmonk</a> was great, plus a sense of validation of my tech compass when I see <a href="https://twitter.com/awhitehouse">@awhitehouse</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> and <a href="https://twitter.com/darachennis">@darachennis</a> there!</p>&mdash; Kingsley Davies (@kings13y) <a href="https://twitter.com/kings13y/statuses/408374898038280192">December 4, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>An awesome start to the 2nd day of <a href="https://twitter.com/thingmonk">@thingmonk</a>. Great talks from <a href="https://twitter.com/RickBullotta">@RickBullotta</a>, <a href="https://twitter.com/haiyan">@haiyan</a>, <a href="https://twitter.com/yoditstanton">@yoditstanton</a> and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>!</p>&mdash; IBM InternetofThings (@IBMIoT) <a href="https://twitter.com/IBMIoT/statuses/407836364692922368">December 3, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Gamechanging: <a href="https://twitter.com/yoditstanton">@yoditstanton</a> and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> present their <a href="https://twitter.com/OpenSensorsIO">@opensensorsio</a> platform <a href="https://twitter.com/search?q=%23thingmonk&amp;src=hash">#thingmonk</a> <a href="https://twitter.com/search?q=%23opendata&amp;src=hash">#opendata</a> for <a href="https://twitter.com/search?q=%23IoT&amp;src=hash">#IoT</a> <a href="http://t.co/Q9Uwlui1p9">http://t.co/Q9Uwlui1p9</a></p>&mdash; Pascale Scheurer (@PascaleScheurer) <a href="https://twitter.com/PascaleScheurer/statuses/407832417605394432">December 3, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>loving the solid explanations of core technical concepts for IoT by <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> and <a href="https://twitter.com/yoditstanton">@yoditstanton</a></p>&mdash; monkchips (@monkchips) <a href="https://twitter.com/monkchips/statuses/407831311038955520">December 3, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/ordnungswprog">@ordnungswprog</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> I&#39;ve started using Liberator seriously, and I have to say I&#39;m rather impressed with the library.</p>&mdash; James Reeves (@weavejester) <a href="https://twitter.com/weavejester/statuses/405111300466167808">November 25, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Looking forward to seeing <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>&#39; talk on &quot;ClojureScript&quot; via video link at <a href="https://twitter.com/search?q=%23developbbc&amp;src=hash">#developbbc</a> today.</p>&mdash; Aidy Lewis (@AidyLewis) <a href="https://twitter.com/AidyLewis/statuses/400169463989157888">November 12, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Lovely intro to Datomic from <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> and James tonight /cc <a href="https://twitter.com/skillsmatter">@skillsmatter</a> <a href="http://t.co/kwBJXlD3q0">pic.twitter.com/kwBJXlD3q0</a></p>&mdash; Richard Dallaway (@d6y) <a href="https://twitter.com/d6y/statuses/385153744763359232">October 1, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Outstanding talk by James Adams and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> on <a href="https://twitter.com/search?q=%23datomic&amp;src=hash">#datomic</a> Databases have never been so fun to play with</p>&mdash; Frankie Sardo (@frankiesardo) <a href="https://twitter.com/frankiesardo/statuses/385140208695791616">October 1, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Thanks ITV, <a href="https://twitter.com/UnderscoreUK">@UnderscoreUK</a> and <a href="https://twitter.com/kings13y">@kings13y</a> for last night&#39;s <a href="https://twitter.com/search?q=%23FunctionalMedia&amp;src=hash">#FunctionalMedia</a> ... good debate &amp; points esp. from <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> &amp; <a href="https://twitter.com/davegurnell">@davegurnell</a></p>&mdash; Andrew Whitehouse (@awhitehouse) <a href="https://twitter.com/awhitehouse/statuses/382830645317103616">September 25, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/opencast_cto">@opencast_cto</a> <a href="https://twitter.com/jr0cket">@jr0cket</a> <a href="https://twitter.com/JenniferSmithCo">@JenniferSmithCo</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> Glad you enjoyed it Chris! We had some awesome feedback all around <a href="https://twitter.com/ljcjug">@ljcjug</a> :-)</p>&mdash; Barry Cranford (@bcrecworks) <a href="https://twitter.com/bcrecworks/statuses/382174234039951360">September 23, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Great talks last night at <a href="https://twitter.com/search?q=%23clojurefest&amp;src=hash">#clojurefest</a> by <a href="https://twitter.com/jr0cket">@jr0cket</a>, <a href="https://twitter.com/JenniferSmithCo">@JenniferSmithCo</a> and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>. I&#39;m in awe of your skills!</p>&mdash; Chris Howe-Jones (@opencast_cto) <a href="https://twitter.com/opencast_cto/statuses/380942239478083584">September 20, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Tonight, really enjoyed live coding in <a href="https://twitter.com/search?q=%23Clojure&amp;src=hash">#Clojure</a> by <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>  solving hard Sudoku problem with core.logic. Birlliant job <a href="https://twitter.com/ldnclj">@ldnclj</a></p>&mdash; Bruno Bonacci (@BrunoBonacci) <a href="https://twitter.com/BrunoBonacci/statuses/380808091815915521">September 19, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Great talks by <a href="https://twitter.com/JenniferSmithCo">@jennifersmithco</a> <a href="https://twitter.com/jr0cket">@jr0cket</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> at today&#39;s <a href="https://twitter.com/search?q=%23clojurefest&amp;src=hash">#clojurefest</a> Looking forward to more! /cc <a href="https://twitter.com/ljcjug">@ljcjug</a> <a href="https://twitter.com/RecWorks">@RecWorks</a></p>&mdash; Anna Pawlicka (@AnnaPawlicka) <a href="https://twitter.com/AnnaPawlicka/statuses/380798168612368384">September 19, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Watching <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> use his core.logic skillz to solve a sudoku  <a href="https://twitter.com/search?q=%23ClojureFest&amp;src=hash">#ClojureFest</a></p>&mdash; Mark Needham (@markhneedham) <a href="https://twitter.com/markhneedham/statuses/380750005445083136">September 19, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p>Awesome <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>: The campaign for LISP in London <a href="https://t.co/aY3Xu0lVk7">https://t.co/aY3Xu0lVk7</a></p>&mdash; Gilles Philippart (@gphilippart) <a href="https://twitter.com/gphilippart/statuses/380649877065461760">September 19, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/mowat27">@mowat27</a> <a href="https://twitter.com/mr_urf">@mr_urf</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> <a href="https://twitter.com/carinmeier">@carinmeier</a> That was a wonderful demo. Thanks, was wanting to look at the data manipulation again.</p>&mdash; Paul Wilson (@paulanthonywils) <a href="https://twitter.com/paulanthonywils/statuses/376673511752077312">September 8, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

-->

    <div>
<blockquote class="twitter-tweet"><p>Great day of Clojure training today. Thanks to <a href="https://twitter.com/mowat27">@mowat27</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> <a href="https://twitter.com/joe_jag">@joe_jag</a> and <a href="https://twitter.com/neo_gb">@neo_gb</a></p>— Brian Swan (@bgswan) <a href="https://twitter.com/bgswan/statuses/376421124026150912">September 7, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Relaxing after a fantastic
      day at Clojure Launchpad
      yesterday. Thanks <a href="https://twitter.com/neo_gb">@neo_gb</a>
      for great venue
      and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      for being generally awesome</p>— Adrian Mowat
      (@mowat27) <a href="https://twitter.com/mowat27/statuses/376593821238571008">September
      8, 2013</a></blockquote>
    </div>


    <div>
      <blockquote class="twitter-tweet"><p>Thanks
      to <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>,
      this is now much clearer than last time I tried
      core.logic <a href="https://t.co/HaEtcEMkFK">https://t.co/HaEtcEMkFK</a></p>—
      Adrian Mowat
      (@mowat27) <a href="https://twitter.com/mowat27/statuses/377203129609359360">September
      9, 2013</a></blockquote>
    </div>


    <div>
    <blockquote class="twitter-tweet"><p>Great talks last night
    at <a href="https://twitter.com/search?q=%23clojurefest&amp;src=hash">#clojurefest</a>
    by <a href="https://twitter.com/jr0cket">@jr0cket</a>, <a href="https://twitter.com/JenniferSmithCo">@JenniferSmithCo</a>
    and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>. I&#39;m
    in awe of your skills!</p>— Chris Howe-Jones
    (@opencast_cto) <a href="https://twitter.com/opencast_cto/statuses/380942239478083584">September
    20, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p><a href="https://twitter.com/opencast_cto">@opencast_cto</a> <a href="https://twitter.com/jr0cket">@jr0cket</a> <a href="https://twitter.com/JenniferSmithCo">@JenniferSmithCo</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      Glad you enjoyed it Chris! We had some awesome feedback all
      around <a href="https://twitter.com/ljcjug">@ljcjug</a>
      :-)</p>— Barry Cranford
      (@bcrecworks) <a href="https://twitter.com/bcrecworks/statuses/382174234039951360">September
      23, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Excellent <a href="https://twitter.com/search?q=%23ClojureFest&amp;src=hash">#ClojureFest</a>
      yesterday, followed by interesting chats
      with <a href="https://twitter.com/otfrom">@otfrom</a> <a href="https://twitter.com/JenniferSmithCo">@JenniferSmithCo</a> <a href="https://twitter.com/opencast_cto">@opencast_cto</a> <a href="https://twitter.com/jr0cket">@jr0cket</a>
      and <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>.</p>—
      John Arundel
      (@bitfield) <a href="https://twitter.com/bitfield/statuses/381016760981258240">September
      20, 2013</a></blockquote>
    </div>


    <div>
      <blockquote class="twitter-tweet"><p>Tonight, really enjoyed live
      coding
      in <a href="https://twitter.com/search?q=%23Clojure&amp;src=hash">#Clojure</a>
      by <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      solving hard Sudoku problem with core.logic. Birlliant
      job <a href="https://twitter.com/ldnclj">@ldnclj</a></p>—
      Bruno Bonacci
      (@BrunoBonacci) <a href="https://twitter.com/BrunoBonacci/statuses/380808091815915521">September
      19, 2013</a></blockquote>
      </div>

<blockquote class="twitter-tweet"><p>Great talks by <a href="https://twitter.com/JenniferSmithCo">@jennifersmithco</a> <a href="https://twitter.com/jr0cket">@jr0cket</a> <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a> at today&#39;s <a href="https://twitter.com/search?q=%23clojurefest&amp;src=hash">#clojurefest</a> Looking forward to more! /cc <a href="https://twitter.com/ljcjug">@ljcjug</a> <a href="https://twitter.com/RecWorks">@RecWorks</a></p>— Anna Pawlicka (@AnnaPawlicka) <a href="https://twitter.com/AnnaPawlicka/statuses/380798168612368384">September 19, 2013</a></blockquote>

    <div>
      <blockquote class="twitter-tweet"><p>Saw <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      livecode
      a <a href="https://twitter.com/search?q=%23clojure&amp;src=hash">#clojure</a>
      webapp last week. Didn&#39;t restart the webserver once. Time was,
      that would have blown
      a <a href="https://twitter.com/search?q=%23java&amp;src=hash">#java</a>
      mind.</p>— Kris Jenkins
      (@krisajenkins) <a href="https://twitter.com/krisajenkins/statuses/382477196159647744">September
      24, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Thanks
      ITV, <a href="https://twitter.com/UnderscoreUK">@UnderscoreUK</a>
      and <a href="https://twitter.com/kings13y">@kings13y</a> for last
      night&#39;s <a href="https://twitter.com/search?q=%23FunctionalMedia&amp;src=hash">#FunctionalMedia</a>
      ... good debate &amp; points
      esp. from <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      &amp; <a href="https://twitter.com/davegurnell">@davegurnell</a></p>—
      Andrew Whitehouse
      (@awhitehouse) <a href="https://twitter.com/awhitehouse/statuses/382830645317103616">September
      25, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Just looking at some really
      impressive (and ridiculously fast) work done
      by <a href="https://twitter.com/HakanRaberg">@HakanRaberg</a>. Wow. It&#39;s
      so nice to work with smart people.</p>— Francine Bennett
      (@fhr) <a href="https://twitter.com/fhr/statuses/381083987122221056">September
      20, 2013</a></blockquote>
    </div>

    <div>
      <blockquote class="twitter-tweet"><p>Very throughout explanation
      of <a href="https://twitter.com/search?q=%23clojure&amp;src=hash">#clojure</a>
      fundamentals
      by <a href="https://twitter.com/malcolmsparks">@malcolmsparks</a>
      and interactive quiz-style question/answers. part 1/4, really
      nice!</p>— Daniel Zurawski
      (@danzurawski) <a href="https://twitter.com/danzurawski/statuses/349506404555554816">June
      25, 2013</a></blockquote>
    </div>


    <script async="true" src="//platform.twitter.com/widgets.js"
    charset="utf-8"></script>

  </div>
</div>
