[
 {:date #inst "2013-06-03T18:30+01:00"
  :description "Jon Pither spoke on _Functional Programming in the Enterprise_,  [see the talk here](http://skillsmatter.com/podcast/scala/functional-programming-in-the-enterprise-4235)."}

 {:date #inst "2013-06-20T18:30+01:00"
  :description "Malcolm Sparks spoke on _The rise and fall of mutable state_. See podcast [here](http://skillsmatter.com/podcast/scala/the-rise-and-fall-of-mutable-state)."}

 {:date #inst "2013-06-24T16:00+01:00"
  :description "Jon Pither [speaks](http://www.spaconference.org/spa2013/sessions/session514.html) at [SPA 2013](http://www.spaconference.org/spa2013/)"}

 {:date #inst "2013-09-07T09:30+01:00"
  :description "Adrian Mowat and Malcolm Sparks ran a well-received 1-day training course in Edinburgh."}

 {:date #inst "2013-09-19T18:30+01:00"
  :description "London Java Community - ClojureFest - more details to follow soon!"}

 {:date #inst "2013-10-01T18:30+01:00"
  :description "London Clojurians Dojo - James Adams and Malcolm Sparks will talk about how they build and deployed an HTML5 multi-user game in Clojure with web-sockets and Datomic. More details to follow or [contact Malcolm directly](mailto:malcolm@juxt.pro?subject=Clojure-Dojo-Event-1st-October)."}

 {:date #inst "2013-09-26T09:30+01:00"
  :description "Our __September 2-day ['Fast-track to Clojure' training course](http://skillsmatter.com/course/scala/fast-track-to-clojure)__ - [contact us](mailto:malcolm@juxt.pro?subject=Clojure-course-enquiry) for booking details\n\n* Location: The Skills Matter eXchange, London\n* Price: £1165.00 + VAT
"}

 {:date #inst "2013-12-04T09:30+00:00"
  :description "Our __December 2-day ['Fast-track to Clojure' training course](http://skillsmatter.com/course/scala/fast-track-to-clojure)__ - [contact us](mailto:malcolm@juxt.pro?subject=Clojure-course-enquiry) for booking details\n\n* Location: The Skills Matter eXchange, London\n* Price: £1165.00 + VAT
"}

 {:date #inst "2013-10-14"
  :description "Meet us at [EuroClojure 2013](http://euroclojure.com/2013/)!"}

 {:date #inst "2013-12-06"
  :description "Meet us at the third annual London [Clojure eXchange](http://skillsmatter.com/event/scala/clojure-exchange-2013)."}

 {:date #inst "2013-07-29"
  :description "Jon Pither joined a panel discussion hosted by the BBC about Functional Programming in media organisations."}





 ]
