<div class="jumbotron">
  <h1>JUXT</h1>
  <p class="lead">Software practitioners using Clojure to solve complex business problems</p>
</div>

<div class="row-fluid">
  <div class="span6">
    {{#markdown}}intro.md{{/markdown}}
    {{#markdown}}contact.md{{/markdown}}
    {{#profiles}}_{{/profiles}}
  </div>
  <div class="span6">
    {{#events}}_{{/events}}
  </div>
</div>

<hr/>

<div class="row-fluid">
  <div class="span6">
    {{#markdown}}why-clojure.md{{/markdown}}
  </div>
  <div class="span6">
    {{#markdown}}why-juxt.md{{/markdown}}
  </div>
</div>

<hr/>

<div class="row-fluid">
  <div class="span4">
    {{#markdown}}training.md{{/markdown}}
  </div>
  <div class="span4">
    {{#markdown}}consulting.md{{/markdown}}
  </div>
  <div class="span4">
    {{#markdown}}speaking.md{{/markdown}}
  </div>
</div>
